<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Login - Opensquare</title>
    <link rel="stylesheet" href="main.css">
    <style type="text/css">
        body div {
            text-align: center;
        }
        label, input[type=text], input[type=password] {
            display: inline-block;
            width: 150px;
            margin: 5px;
        }
        input[type=submit] {
            width: 60px;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <div>
        <h2>Login Form</h2>
    </div>
    <div>
        <form th:action="@{/auth/login}" method="post">
            <div><label>Username: </label> <input type="text" name="username" /></div>
            <div><label>Password: </label><input type="password" name="password" /></div>
            <div><input type="submit" value="Login" /></div>
        </form>
    </div>
</div>
</body>
</html>